/* وضع المظلم */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .list-group-item {
    background-color: #2d2d2d;
    color: #ffffff;
    border-color: #444;
}